.container {
  padding: 16px;
  background: var(--wordle-background-color);
  display: flex;
  align-items: center;
	justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  font-size: 24px;
}

.content {
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    font-size: 16px;
  }
}
